body {
    font-family: Arial;
    text-align: center;
    padding-top: 50px;
    background-color: rgb(136, 192, 173);
}

.cardContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.card {
    width: 25%;
    padding: 20px 10px;
    border: 1px solid grey;
    border-radius: 20px;
}

.cardImg {
    width: 80%;
}

.cardPrice {
    display: block;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.buttonCTA {
    margin: 10px 0;
    background-color: rgb(216, 77, 77);
    color: rgb(247, 247, 247);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.buttonCTA:hover {
    background-color: rgb(184, 64, 64);
    box-shadow: 1px 1px 10px lightgrey;
}

.buscador1 {
    display: flex;
    justify-content: center;
    margin: 20px;
  
}

#botonClick {
    margin: 20px;
}
